{% extends "base.html" %}
{% block content %}
    Page 3
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        {% block head %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

            <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
        {% endblock %}

    </head>
    <body>
    <div class="container">
        <h1>Flask/Python</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Workflows: A workflow is a configurable automated process that will run one or more jobs. Workflows are
                defined by a YAML file checked in to your repository</h2>
            <ul>
                <li>dev.yml: Development workflow which builds and tests pull requests.</li>
                <li>prod.yml: Production workflow which builds and tests push requests.</li>
            </ul>
            <h2>.pytest_cache: offer a mechanism through which other plugins can set values via config. cache.
                Also stores test failures.</h2>
            <ul>
                <li>.gitignore: gitignore file tells Git which files to ignore when committing your project to the
                    GitHub repository.
                </li>
                <li>CACHEDIR.TAG: The cache directory is where files are stored during background uploads and after
                    upload for quick access should you need to open the file from the network drive</li>
                <li>README.md: A README file is an essential guide that gives other developers a detailed description
                     of your GitHub project.</li>
            </ul>
            <h2>context_processors: Is a list of dotted Python paths to callables that are used to populate the context
                when a template is rendered with a request.</h2>
            <ul>
                <li>init_.py: Is a feature in flask called blueprint that acts as package of controllers such as
                    plugins.</li>
                <li>run.py: The runpy module is used to locate and run Python modules without importing them first.</li>
            </ul>
            <h2>simple_pages: The Simple Pages plugin allows you to easily create web pages for your public site
                using a simple form. My website includes one Index/Home page and an additional 4 pages which explain
                the technologies I learned in IS601 class so far.</h2>
            <h2>Static: A Static Website (sometimes called a flat or stationary page) is displayed in a web browser
                exactly as it is stored. It contains web pages with fixed content coded in HTML and stored on a web server.</h2>
            <ul>
                <li>css: is a stylesheet language used to describe the presentation of a document written in HTML.</li>
                <li>images: Images which I picked to use on my carousels of the index page.</li>
                <li>js: JavaScript is a text-based programming language used both on the client-side and server-side
                    that allows you to make web pages interactive.</li>
            </ul>
            <h2>Tests: contains a series of tests such as pytest that check the integrity of the app prior to deploying
                and merging.</h2>
            <h2>.coverageerc: Code coverage is a metric that can help you understand how much of your source
                is tested.</h2>
            <h2>.dockerignore:  allows you to mention a list of files and/or directories which you might want to
                ignore while building the image.  </h2>
            <h2>.pylintrc: Pylint is a source-code, bug and quality checker for the Python programming language. </h2>
            <h2>docker-compose.yml: Orchestration file that contains the configuration to develop locally, it overrides
                the Dockerfile to run the flask development server instead of running the gunicorn server that is used for hosting on Heroku</h2>
            <h2>Dockerfile: File used to create an image to run in a container that runs the program</h2>
            <h2>heroku.yml: The heroku.yml file is a manifest you can use to define your Heroku app. It allows you to
                Build Docker images on Heroku.</h2>
            <h2>pytest.ini: This is the primary pytest configuration file that allows you to change default
                behavior. </h2>
            <h2>requirement.txt: Is a type of file that usually stores information about all the libraries, modules,
                and packages in itself that are used while developing a particular project.</h2>
            <h2>setup.py: is utilized to install the different available packages in Python.</h2>
            <h2></h2>


            <p>
                Enim sit amet venenatis urna. Mi eget mauris pharetra et ultrices neque ornare aenean. Lectus magna
                fringilla urna porttitor. Justo eget magna fermentum iaculis eu non diam phasellus. Quis vel eros
                donec
                ac odio. Est ante in nibh mauris cursus mattis. Aliquam etiam erat velit scelerisque in dictum.
                Aliquam
                purus sit amet luctus venenatis lectus magna. Dui accumsan sit amet nulla facilisi morbi. Gravida
                arcu
                ac tortor dignissim. Non nisi est sit amet facilisis magna. Quam quisque id diam vel. Sed euismod
                nisi
                porta lorem mollis aliquam ut porttitor. Sit amet facilisis magna etiam tempor. Non nisi est sit
                amet
                facilisis magna etiam tempor. Et pharetra pharetra massa massa ultricies mi quis. Elementum eu
                facilisis
                sed odio morbi quis. Mi sit amet mauris commodo quis imperdiet massa tincidunt. Accumsan tortor
                posuere
                ac ut consequat semper viverra nam. Nibh tellus molestie nunc non blandit massa enim.
            </p>
            <p>
                Commodo odio aenean sed adipiscing. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla
                pellentesque. Sed risus pretium quam vulputate dignissim suspendisse. Quam quisque id diam vel quam
                elementum pulvinar etiam. Sit amet mauris commodo quis imperdiet massa. Vitae purus faucibus ornare
                suspendisse sed nisi lacus sed viverra. Urna id volutpat lacus laoreet non curabitur. Ante in nibh
                mauris cursus mattis molestie a. Magnis dis parturient montes nascetur. Condimentum id venenatis a
                condimentum.
            </p>
            <p>
                Sapien pellentesque habitant morbi tristique senectus. Sollicitudin nibh sit amet commodo nulla.
                Faucibus in ornare quam viverra orci sagittis eu volutpat odio. Ac placerat vestibulum lectus mauris
                ultrices eros in cursus turpis. Fringilla urna porttitor rhoncus dolor. A erat nam at lectus urna.
                Consequat id porta nibh venenatis cras sed felis eget. Cras adipiscing enim eu turpis egestas
                pretium
                aenean pharetra magna. Enim nunc faucibus a pellentesque sit amet porttitor. Consectetur a erat nam
                at
                lectus urna. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper.
            </p>
            <p>
                Donec enim diam vulputate ut. Luctus accumsan tortor posuere ac ut consequat. Lobortis mattis
                aliquam
                faucibus purus in massa. Turpis massa tincidunt dui ut ornare lectus sit amet est. Pretium fusce id
                velit ut tortor pretium. Lorem sed risus ultricies tristique. Vestibulum mattis ullamcorper velit
                sed
                ullamcorper morbi tincidunt ornare massa. Commodo sed egestas egestas fringilla phasellus faucibus
                scelerisque eleifend. Urna nunc id cursus metus aliquam eleifend mi in. Diam vulputate ut pharetra
                sit
                amet aliquam id diam maecenas. Id eu nisl nunc mi ipsum faucibus vitae. Mattis vulputate enim nulla
                aliquet porttitor lacus luctus. Sed elementum tempus egestas sed sed risus pretium quam. Donec massa
                sapien faucibus et molestie ac. Massa massa ultricies mi quis hendrerit dolor magna. Et sollicitudin
                ac
                orci phasellus egestas tellus rutrum tellus pellentesque. At augue eget arcu dictum. Amet aliquam id
                diam maecenas. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Ullamcorper sit amet
                risus nullam eget felis.</div>
        </p>
    </div>
    <div class="col">
        Column
    </div>
    </div>

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>
{% endblock %}